@use "./base/variables.scss";

.additional {
  padding: 19px 0 0;

  &::before {
    position: absolute;
    content: "";
    background-color: variables.$basic-dark;
    height: 2px;
    //top: -20px;
    left: 20px;
    right: 0;
    transform: translateY(22px);
  }
}

.additional__inner {
  position: relative;
}

.additional__title {
  display: inline-block;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  padding: 0 20px 30px 0;
}

.additional__list {
  list-style: none;
  //padding: 10px 0 0;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #cdcdcd;
}

.additional__item {
  margin: 0;
  padding: 12px 0 17px;
  //padding: 0 0 25px;
}

// Tablet Viewport
@media (min-width: 768px) {
  .additional {
    padding-top: 71px;

    &::before {
      left: 0;
      transform: translateY(22px);
    }
  }

  .additional__item {
    border-bottom: none;
  }

  .additional__title {
    margin: 0;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 36px;
    line-height: 1;
    padding-bottom: 80px;
  }

  .additional__list {
    list-style: none;
    margin: 0 auto;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
  }
}

// Desktop Viewport
@media (min-width: 1280px) {
  .additional {
    padding: 48px 0 40px;

    &::before {
      transform: translateY(52px);
    }
  }

  .additional__inner {
    padding: 30px 0 45px;

    &::before {
      display: none;
    }
  }

  .additional__list {
    position: relative;
    list-style: none;
    margin: 0;
    border: none;
    height: 100%;

    &::before {
      position: absolute;
      content: "";
      height: 1px;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #cdcdcd;
    }
  }

  .additional__title {
    padding: 0 40px;
    margin: 0 0 80px -40px;
  }

  .additional__wrap {
    display: grid;
    grid-template-columns: auto 245px;
    height: 100%;
    column-gap: 81px;
    margin: 0;
    align-items: center;
  }

  .additional__item {
    padding: 0;
  }
}
