@use "./base/variables.scss";

.additional__inner {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 2px;
    background-color: variables.$basic-dark;
    top: 20px;
    z-index: -1;
  }
}

.additional__title {
  display: inline-block;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  padding-right: 25px;
}

.additional__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.additional__item {
  margin: 0;
  padding: 15px 0 25px;
  border-bottom: 1px solid #cdcdcd;
  //display: grid;
  //grid-template-columns: repeat(4, 1fr);
}
