@use "./base/variables.scss";

.additional {
  &::before {
    position: absolute;
    content: "";
    background-color: variables.$basic-dark;
    height: 2px;
    left: 0;
    right: 0;
    transform: translateY(45px);
  }
}

.additional__inner {
  position: relative;
}

.additional__title {
  display: inline-block;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  padding: 25px 25px 35px 25px;
}

.additional__list {
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #cdcdcd;
}

.additional__item {
  margin: 0;
  padding: 15px 0 25px;
}

// Tablet Viewport
@media (min-width: 768px) {
  .additional {
    &::before {
      left: 0;
      transform: translateY(52px);
    }
  }

  .additional__item {
    border-bottom: none;
  }

  .additional__title {
    margin-top: 30px;
    padding: 0 25px;
    margin-bottom: 30px;
  }

  .additional__list {
    list-style: none;
    margin: 0;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
  }
}

// Desctop Viewport
@media (min-width: 1280px) {
  .additional {
    &::before {
      transform: translateY(81px);
    }
  }

  .additional__inner {
    padding: 30px 0 45px;

    &::before {
      display: none;
    }
  }

  .additional__list {
    position: relative;
    list-style: none;
    margin: 0;
    border: none;

    &::before {
      position: absolute;
      content: "";
      height: 1px;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #cdcdcd;
    }
  }

  .additional__wrap {
    display: grid;
    grid-template-columns: auto 245px;
    gap: 81px;
    margin: 0;
    align-items: center;
  }
}
