@use "./base/variables.scss";

.additional__inner {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 2px;
    background-color: variables.$basic-dark;
    top: 20px;
    z-index: -1;
  }
}

.additional__title {
  display: inline-block;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  padding-right: 25px;
}

.additional__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.additional__item {
  margin: 0;
  padding: 15px 0 25px;
  //border-bottom: 1px solid #cdcdcd;
}

// Tablet Viewport
@media (min-width: 768px) {
  .additional__inner {
    &::before {
      top: 50px;
      left: -30px;
    }
  }

  .additional__item {
    border-bottom: none;
  }

  .additional__title {
    margin-top: 30px;
    padding: 0 25px;
    margin-bottom: 30px;
  }

  .additional__list {
    list-style: none;
    margin: 0;
    border-top: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
  }
}
