@use "./base/variables.scss";

.catalog-select {
  &__inner {
    display: flex;
    flex-direction: column;
    //padding: 20px 0;
    //outline: 2px blue solid;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    background-color: variables.$gray-lighten;
  }

  &__title {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
  }

  &__subtitle {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    margin: 0;
  }

  &__link {
    display: block;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    text-transform: uppercase;
  }
}
