@use "./base/variables.scss";

.catalog-select {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    position: relative;
    padding: 24px 20px;
    display: grid;
    grid-template-columns: 68px 1fr;
    background-color: variables.$gray-lighten;

    &::before {
      content: "";
      top: 15px;
      left: 20px;
      position: absolute;
      display: inline-block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: variables.$basic-light;
    }

    &::after {
      content: "";
      top: 12px;
      left: 20px;
      position: absolute;
      display: inline-block;
      width: 50px;
      height: 50px;
      background-color: #000000;
      mask-image: url("../../img/icon-cat-mob-slim.svg");
      mask-repeat: no-repeat;
      mask-position: center;
    }
  }

  &__title {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
    text-transform: uppercase;
    text-align: left;
    margin: 0;
    grid-column: 2/-1;
  }

  &__subtitle {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    margin: 0;
    padding: 22px 0;
    grid-column: 1/-1;
  }

  &__link {
    display: block;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    text-transform: uppercase;
    grid-column: 1/-1;
    margin: 0;
    padding: 19px 0 4px;
  }
}
