@use "./base/variables.scss";

.container {
  position: relative;
  margin: 0 auto;
  //padding-left: 20px;
  //padding-right: 20px;
  max-width: 100%;
  //outline: red 3px solid;
}

// Tablet Viewport
@media (min-width: 768px) {
  .container {
    position: relative;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
  }
}
