@use "./base/variables.scss";

.contacts {
  padding: 10px 0 0;
  background-color: #ffffff;

  &--dark {
    background-color: variables.$gray-lighten;
  }
}

.contacts__header {
  display: flex;
  justify-content: center;
  gap: 10px;
  min-width: 280px;
  margin-bottom: 12px;
}

.contacts__wrap {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  width: 280px;
  max-height: 90%;
  align-self: center;
  justify-self: center;
  gap: 10px;
}

.contacts__invitation {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #111111;
  text-transform: uppercase;
  width: 140px;
}

.contacts__address-sity {
  display: block;
}

.contacts__address {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  color: variables.$gray-darken;
  padding-left: 8px;
  align-self: center;
  text-align: left;
}

.contacts__map {
  overflow: hidden;
  display: block;
}

//Tablet Viewport
@media (min-width: 768px) {
  .contacts__header {
    padding: 32px 40px;
  }

  .contacts__wrap {
    width: inherit;
    gap: 86px;
  }

  .contacts__invitation {
    font-size: 20px;
    line-height: 1.3;
    width: 20%;
  }

  .contacts__address {
    font-size: 16px;
    line-height: 1.25;
    text-align: right;
    width: 30%;
  }

  .contacts__address-sity {
    display: block;
    margin-top: 20px;
  }

  .contacts__map {
    height: 400px;
  }
}

@media (min-width: 1440px) {
  .contacts {
    padding: 0;
  }

  .contacts__map {
    position: relative;
  }

  .contacts__header {
    position: absolute;
    top: 96px;
    left: 0;
    width: 565px;
    height: 200px;
    background-color: #ffffff;
    z-index: 20;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
  }

  .contacts__wrap {
    width: 407px;
    max-height: 90%;
  }

  .contacts__invitation {
    font-size: 20px;
    overflow: hidden;
    margin: 0;
    width: 170px;
  }

  .contacts__address {
    text-align: left;
    width: 180px;
    margin: 0;
  }

  .contacts__address-sity {
    display: block;
    margin-top: 20px;
  }
}
