@use "./base/variables.scss";

.contacts {
  background-color: #ffffff;

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 26px 20px;
  }

  &__invitation {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: variables.$gray-darkest;
    text-transform: uppercase;
    width: 140px;
  }

  &__address-sity {
    display: block;
    margin-top: 5px;
  }

  &__address {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: variables.$gray-darken;
    width: 140px;
  }

  &__map {
    overflow: hidden;
    display: block;
  }

  &--dark {
    background-color: variables.$gray-lighten;
  }
}

@media (min-width: 768px) {
  .contacts {
    &__address-sity {
      display: block;
      margin-top: 10px;
    }
  }
}

@media (min-width: 1280px) {
  .contacts {
    &__map {
      position: relative;
    }

    &__header {
      position: absolute;
      top: 50px;
      left: 50px;
      width: 565px;
      height: 200px;
      background-color: #ffffff;
      z-index: 20;
      align-items: center;
      padding: 60px 80px;
    }

    &__invitation {
      font-size: 20px;
    }

    &__address-sity {
      display: block;
      margin-top: 20px;
    }
  }
}
