@use "./base/variables.scss";

.example {
  background-color: variables.$gray-light;

  &__title {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #000000;
    margin: 0;
    margin-top: 20px;
  }

  &__text {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: variables.$gray-darken;
    margin-top: 40px;
  }

  &__number {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
  }

  &__description {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: variables.$gray-darken;
  }

  &__costs {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
  }

  &__compare-img {
    display: block;
    margin: 0 auto;
  }

  &__compare-slider {
    margin-bottom: 40px;
  }

  &__compare-button {
    border: none;
  }
}
