@use "./base/variables.scss";

.example {
  background-color: variables.$gray-light;
}

.example__inner {
  padding: 20px 0 40px;
}

.example__title {
  display: block;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: #000000;
  margin: 0 0 32px;
}

.example__text {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: variables.$gray-darken;
}

// .example__statics {
//   position: relative;
//   display: grid;
//   grid-template-columns: repeat(4, 1fr);
// }

.example__wrap {
  display: flex;
  //flex-direction: column;
  flex-direction: row;
  justify-content: space-between;
  //grid-column: 1/-1;
  width: 280px;
  margin: 20px auto;
}

// .example__numbers {
//   display: flex;
//   justify-content: space-between;
// }

.example__item {
  position: relative;
  display: flex;
  flex-direction: column;
  //justify-content: center;
  border: 1px solid variables.$gray;
  border-radius: 5px;
  padding: 12px 10px 16px;
  width: 124px;
  //height: calc(100% + 100px);
  min-height: 56px;
}

.example__total {
  display: block;
  overflow: hidden;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: variables.$gray-darken;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.example__description {
  position: absolute;
  display: block;
  //position: relative;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: variables.$gray-darken;
  background-color: variables.$gray-light;
  padding: 0 14px;
  margin: 0;
  text-align: center;
  align-self: center;
  width: 85px;
  transform: translateY(calc(100% + 10px));
  overflow: hidden;
}

.example__costs-wrap {
  display: flex;
  grid-column: 1/-1;
  margin: 0;
  justify-content: center;
  gap: 2px;
}

.example__costs {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #000000;
  text-transform: uppercase;
}

.example__compare-img {
  --divider-position: 50%;
  position: relative;
  display: block;
  margin: 0 auto;
  width: 280px;
  height: 256px;
}

.example__demo {
  top: 0;
  left: 0;
  position: absolute;

  &--before {
    width: var(--divider-position);
    position: absolute;
    z-index: 1;
    background-color: variables.$gray-light;
  }
}

.example__slider-img {
  &--before {
    object-fit: none;
    object-position: 0%;
  }
}

.example__compare-slider {
  grid-column: 1/-1;
  padding: 8px 0 0;
}

.example__divider {
  background-color: variables.$gray-dark;
  color: variables.$gray-dark;
  position: absolute;
  width: 4px;
  height: 100%;
  top: 0;
  left: var(--divider-position);
  transform: translateX(-50%);
  z-index: 3;
  transition: color 0.1s ease-out, background-color 0.1s ease-out;
  //transition: background-color 0.1s ease-out;

  &:hover {
    background-color: variables.$basic-dark;
    color: variables.$basic-dark;
  }

  &:active {
    background-color: variables.$basic-light;
    color: variables.$basic-light;
  }
}

.example__compare-button {
  display: block;
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  width: 40px;
  height: 40px;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

// Tablet Viewport
@media (min-width: 768px) {
  .example {
    background-color: #ffffff;
    border-top: 1px solid #e6e6e6;
    background-image: linear-gradient(360deg, variables.$gray-light 460px, #ffffff 460px);
  }

  .example__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    padding: 30px 0 48px;
  }

  .example__title {
    font-size: 60px;
    grid-column: 1 / -1;
    margin: 0 0 31px;
    padding: 0;
  }

  .example__text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 34px;
    grid-column: 1 / -1;
  }

  .example__wrap {
    grid-column: 1 / 2;
    min-width: 367px;
  }

  .example__item {
    display: flex;
    min-width: 162px;
    min-height: 72px;
    padding: 15px 10px;
    text-align: center;
  }

  .example__total {
    font-size: 30px;
    line-height: 1.23;
  }

  .example__description {
    background-color: #ffffff;
    font-size: 14px;
    line-height: 1;
    bottom: 14px;
    width: fit-content;
    padding: 0 8px;
  }

  .example__costs {
    margin: 0;
    font-size: 20px;
    line-height: 1;
  }

  .example__costs-wrap {
    grid-column: 2 / -1;
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: center;
    margin: 0;
    gap: 10px;
  }

  .example__compare-slider {
    padding-top: 86px;
  }

  .example__compare-img {
    width: 560px;
    height: 512px;
    margin-bottom: 50px;
  }

  .example__compare-button {
    top: 50%;
  }

  .example__demo {
    top: 0;
    left: 0;
    position: absolute;

    &--before {
      position: absolute;
      z-index: 1;
      background-image: linear-gradient(#ffffff 150px, variables.$gray-light 150px);
    }
  }
}

//Desktop Viewport
@media (min-width: 1280px) {
  .example {
    border: none;
    background-image: linear-gradient(360deg, variables.$gray-light 462px, #ffffff 462px);
  }

  .example__inner {
    display: grid;
    grid-template-columns: 570px 1fr;
    padding: 52px 0 66px;
    column-gap: 88px;
  }

  .example__title {
    grid-column: 1 / 2;
    margin: 0;
    padding: 0;
  }

  .example__text {
    grid-column: 1 / 2;
    margin: 0;
    width: 432px;
    padding: 0;
    align-self: end;
  }

  .example__wrap {
    grid-column: 1 / 2;
    margin: 0;
    padding: 0;
    align-self: end;
  }

  .example__item {
    width: 162px;
    height: 72px;
    padding: 15px 25px;
  }

  .example__description {
    background-color: variables.$gray-light;
  }

  .example__costs-wrap {
    position: relative;
    grid-column: 1 / 2;
    flex-direction: row;
    width: 327px;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    align-self: end;
    bottom: 10px;
  }

  .example__costs {
    font-size: 20px;
  }

  .example__compare-slider {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    padding: 18px 0;
    margin: 0;
    align-self: center;
    justify-self: center;
  }

  .example__compare-img {
    padding: 0;
    margin: 0;
  }

  .example__demo {
    &--before {
      background-image: linear-gradient(#ffffff 134px, variables.$gray-light 134px);
    }
  }
}
