@use "./base/variables.scss";

.example {
  background-color: variables.$gray-light;
}

.example__inner {
  padding: 20px 0;
}

.example__title {
  display: block;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: #000000;
  margin: 0;
}

.example__text {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: variables.$gray-darken;
}

.example__statics {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.example__wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-column: 1/-1;
}

.example__numbers {
  display: flex;
  justify-content: space-between;
}

.example__item {
  position: relative;
  display: flex;
  justify-content: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #000000;
  border: 1px solid variables.$gray;
  border-radius: 5px;
  padding: 15px 10px 20px;
  width: 124px;
  height: min-content;
}

.example__total {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: variables.$gray-darken;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.example__description {
  position: absolute;
  display: block;
  padding: 0 14px;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: variables.$gray-darken;
  margin: 0;
  text-align: center;
  background-color: variables.$gray-light;
  width: 77px;
  transform: translateY(140%);
}

.example__costs-wrap {
  display: flex;
  grid-column: 1/-1;
  margin: 20px 0;
  justify-content: center;
  gap: 5px;
}

.example__costs {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
}

.example__compare-img {
  --divider-position: 50%;
  position: relative;
  display: block;
  margin: 0 auto;
  width: 280px;
  height: 256px;
}

.example__demo {
  top: 0;
  left: 0;
  position: absolute;

  &--before {
    width: var(--divider-position);
    position: absolute;
    z-index: 1;
    background-color: variables.$gray-light;
  }
}

.example__slider-img {
  &--before {
    object-fit: none;
    object-position: 0%;
  }
}

.example__compare-slider {
  grid-column: 1/-1;
}

.example__divider {
  background-color: variables.$gray-dark;
  position: absolute;
  width: 4px;
  height: 100%;
  top: 0;
  left: var(--divider-position);
  transform: translateX(-50%);
  z-index: 3;
}

.example__svg-test {
  background-color: #000000;
  width: 50px;
  height: 50px;
  mask-image: url("../../img/compare-thumb.svg");
}

.example__compare-button-icon {
  display: block;
}

.example__compare-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 5;
}


// Tablet Viewport
@media (min-width: 768px) {
  .example {
    background-color: #ffffff;
    background-image: linear-gradient(#ffffff 60%, variables.$gray-light 60%);

    &__inner {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, auto);
    }

    &__title {
      font-size: 60px;
      grid-column: 1 / -1;
      padding: 45px 0 65px;
    }

    &__text {
      font-size: 16px;
      margin-bottom: 55px;
      grid-column: 1 / -1;
    }

    &__wrap {
      grid-column: 1 / 2;
    }

    &__description {
      background-color: #ffffff;
    }

    &__costs {
      margin: 0;
    }

    &__costs-wrap {
      grid-column: 2 / -1;
      display: flex;
      flex-direction: column;
      text-align: right;
      margin: 0;
      gap: 0;
    }

    &__compare-slider {
      padding-top: 100px;
    }

    &__compare-img {
      width: 560px;
      height: 512px;
      margin-bottom: 20px;
    }

    &__compare-button {
      top: 43%;
    }

    &__demo {
      top: 0;
      left: 0;
      position: absolute;

      &--before {
        position: absolute;
        z-index: 1;
        background-image: linear-gradient(#ffffff 131px, variables.$gray-light 131px);
      }
    }
  }
}

//Tablet Viewport
@media (min-width: 1280px) {
  .example {
    background-image: linear-gradient(#ffffff 247px, variables.$gray-light 247px);

    &__inner {
      grid-template-columns: 40% 10% 50%;
    }

    &__title {
      grid-column: 1 / 2;
    }

    &__text {
      grid-column: 1 / 2;
    }

    &__wrap {
      grid-column: 1 / 2;
    }

    &__item {
      width: 124px;
    }

    &__description {
      background-color: variables.$gray-light;
    }

    &__costs-wrap {
      grid-column: 1 / 2;
      flex-direction: row;
      justify-content: space-between;
    }

    &__costs {
      font-size: 20px;
    }

    &__compare-slider {
      grid-column: 3 / 4;
      grid-row: 1 / -1;
    }
  }
}
