@use "./base/variables.scss";

.form-header__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: #000000;
  margin: 0;
  padding-top: 18px;
  margin-bottom: 30px;
}

.form-header__subtitle {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 39px;
  width: 226px;
}

// Tablet Viewport
@media (min-width: 768px) {
  .form-header__title {
    font-size: 60px;
    line-height: 1;
    padding-top: 50px;
    margin-bottom: 54px;
  }

  .form-header__subtitle {
    font-size: 20px;
    line-height: 1.5;
    width: 323px;
    margin: 0 0 66px;
  }
}

// Desktop Viewport
@media (min-width: 1440px) {
  .form-header__title {
    margin: 0;
    padding-top: 60px;
    font-size: 60px;
    line-height: 1;
  }

  .form-header__subtitle {
    padding-top: 55px;
    font-size: 20px;
    line-height: 30px;
    width: 323px;
    margin: 0 0 65px;
  }
}
