@use "./base/variables.scss";


.main-nav__toggle {
  //position: absolute;
  top: 15px;
  right: 20px;
  z-index: 2;
  display: block;
  width: 30px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-size: 0;

  &:hover,
  &:active {
    background-color: transparent;
  }
}

.main-nav--closed .site-list__item {
  display: none;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 10px 0 0 #000000, 0 20px 0 0 #000000;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: fade(#000000, 30%);
  box-shadow:
    0 6px 0 0 fade(#000000, 30%),
    0 12px 0 0 fade(#000000, 30%);
}

.main-nav--opened .main-nav__toggle {
  top: 20px;
  right: 20px;


  &::before,
  &::after {
    content: "";
    position: absolute;
    transform: translateY(50%);
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: fade(#000000, 30%);
  }
}

.main-nav--opened .main-nav__wrapper {
  position: absolute;
  top: 70px;
  right: 0;
  left: 0;
  z-index: 10;
  //min-height: 80vh;
  background-color: #ffffff;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  align-self: center;
  text-align: center;
}

.main-nav__link {
  //display: block;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  padding: 25px 15px 18px 0;
  margin: 0;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.site-list__item {
  padding: 23px 10px;
  border-bottom: 1px solid #e6e6e6;
}
