@use "./base/variables.scss";

.page-header {
  position: relative;
  padding: 20px;

  &__list {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  &__link {
    display: block;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    padding: 25px 0;
    margin: 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    padding: 10px 20px 17px;
    position: fixed;
    left: 0;
    top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: variables.$page-width-mobile;
    height: auto;
    text-align: center;
    background-color: #ffffff;
    transform: translateY(-180%);
    z-index: 5;

    &--opened {
      transform: translateY(0);
    }
  }

  &__logo {
    display: block;
    max-width: 190px;
  }

  &__toggle {
    position: relative;
    display: block;
    width: 30px;
    height: 20px;
    cursor: pointer;
    background-color: transparent;
  }
}
