@use "./base/variables.scss";

.page-footer {
  background-color: variables.$gray-lighten;

  &__inner {
    padding: 20px 0;
  }

  &__logo-link {
    display: block;
    text-align: center;
    margin-bottom: 40px;
  }

  &__social-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
  }

  &__copyright-link {
    display: flex;
    justify-content: space-between;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: variables.$gray-darken;
  }
}
