@use "./base/variables.scss";

.page-footer {
  background-color: variables.$gray-lighten;
}

.page-footer__inner {
  padding: 37px 0 0;
  display: grid;
}

.page-footer__logo-link {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 0;
  border-bottom: 2px solid variables.$gray;
  padding: 0 0 18px;
  align-self: end;
  justify-self: center;

  .page-footer:hover path {
    color: variables.$gray-dark;
  }

  .page-footer:active path {
    opacity: 0.3;
  }
}

.page-footer__social-list {
  display: flex;
  flex-direction: row;
  gap: 28px;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 19px 0;
  border-bottom: 2px solid variables.$gray;
  margin: 0;
  font-size: 0;
}

.page-footer__social-icon {
  color: #666666;

  &:hover {
    color: #68b738;
  }

  &:active {
    color: #68b738;
    opacity: 0.3;
  }
}

.page-footer__logo-svg {
  color: #111111;

  &:hover {
    color: #3e3e3e;
  }

  &:active {
    color: #6b6b6b;
  }
}

.page-footer__copyright-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-self: center;
  padding: 18px 0;
  transition: opasity 0.2s;
  width: 280px;

  &:hover {
    color: #3e3e3e;
  }

  &:active {
    opacity: 0.3;
  }

  &:hover .page-footer__copyright-icon {
    color: #68b738;
  }

  &:active path {
    color: #68b738;
    opacity: 0.3;
  }
}

.page-footer__copyright-icon {
  color: #666666;
}

.page-footer__copyright-text {
  margin: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: variables.$gray-darken;
}


// Tablet Viewport
@media (min-width: 768px) {
  .page-footer__inner {
    padding: 36px 0 0;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }

  .page-footer__social-list {
    border: none;
    justify-self: center;
  }

  .page-footer__logo-link {
    border: none;
    text-align: left;
    align-self: center;
    padding: 0;
  }

  .page-footer__copyright-text {
    margin: 0;
    margin-left: 5px;
  }


  .page-footer__copyright-link {
    justify-self: end;
    width: 168px;
  }
}

// Desktop Viewport
@media (min-width: 1440px) {
  .page-footer__inner {
    padding: 50px 0 50px;
  }
}
