@use "./base/variables.scss";

.page-main {
  position: relative;

  &__title {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #000000;
    margin: 27px 0;
  }

  &__subtitle {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    text-transform: uppercase;
    margin: 37px 0;
  }
}
