@use "./base/variables.scss";

.page-header {
  position: relative;
}

.page-header__list {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  align-self: center;
  text-align: center;
}


.page-header__toggle {
  position: relative;
  display: block;
  justify-self: end;
  width: 30px;
  height: 20px;
  padding: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  z-index: 10;
}

.page-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  &--closed .navigation {
    display: none;
  }

  &--closed .page-header__toggle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #000000;
    box-shadow: 0 10px 0 0 #000000, 0 20px 0 0 #000000;
  }

  &--opened .navigation {
    display: block;
  }

  &--opened .page-header__toggle {
    &::before,
    &::after {
      content: "";
      position: absolute;
      transform: translateY(50%);
      top: 50%;
      left: 0;
      width: 30px;
      height: 2px;
      background-color: #000000;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

.page-header__logo {
  display: block;
  padding: 14px 0;

  max-width: 190px;
  z-index: 10;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &--special {
    cursor: default;

    &:active {
      opacity: inherit;
    }

    &:hover {
      opacity: inherit;
    }
  }
}

.page-header__wrapper--nojs .page-header__toggle {
  display: none;
}


// Tablet Viewport
@media (min-width: 768px) {
  .page-header__wrapper--closed .navigation {
    display: block;
  }

  .page-header {
    border-bottom: none;
  }

  .page-header__wrapper {
    padding: 25px 0 0;
  }

  .page-header__toggle {
    display: none;
  }
}

@media (min-width: 1280px) {
  .page-header__wrapper {
    padding: 55px 0 0;
  }

  .page-header--special {
    &::before {
      position: absolute;
      content: "";
      display: block;
      width: 50%;
      min-height: 694px;
      top: 0;
      right: 0;
      left: inherit;
      background-image: url("../../img/promo/promo-desktop-bg.jpg");
      background-color: #63a73a;
      background-position: 0%;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
