@use "./base/variables.scss";

.page {
  &__body {
    position: relative;
    color: #000000;
    background-color: #ffffff;
    min-height: 100vh;
    min-width: 320px;
    margin: 0;
  }
}

/* @media (min-width: 1280px) {
  .page {
    &__header {
      &--special {
        &::before{
          position: absolute;
          content: "";
          left: 50%;
          right: 0;
          width: 50%;
          height: 696px;
          background-image: url("../../img/Promo-desktop-bg.jpg");
          background-repeat: no-repeat;
          background-position: left;
          //background-color: #62a63a;
        }
      }
    }
  }
} */
