.page {
  background-color: #ffffff;

  &__body {
    font-family: "Oswald",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    min-height: 100vh;
    margin: 0;
  }
}
