@use "./base/variables.scss";

.page-header {
  position: relative;
}

.page-header__list {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  align-self: center;
  text-align: center;
}


.page-header__toggle {
  position: relative;
  display: block;
  justify-self: end;
  width: 30px;
  height: 20px;
  padding: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  z-index: 10;
}

.page-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  &--closed .navigation {
    display: none;
  }

  &--closed .page-header__toggle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #000000;
    box-shadow: 0 10px 0 0 #000000, 0 20px 0 0 #000000;
  }

  &--opened .navigation {
    display: block;
  }

  &--opened .page-header__toggle {
    &::before,
    &::after {
      content: "";
      position: absolute;
      transform: translateY(50%);
      top: 50%;
      left: 0;
      width: 30px;
      height: 2px;
      background-color: #000000;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

.page-header__logo {
  display: block;
  padding: 14px 0;

  max-width: 190px;
  z-index: 10;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}


// Tablet Viewport
@media (min-width: 768px) {
  .page-header {
    border-bottom: none;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__inner {
    padding: 20px 0;
    grid-template-columns: 1fr 1fr;

    &::after {
      display: none;
    }
  }

  /* .page-header__wrapper {

    //grid-column: 1 / 2;
  } */

  /*.page-header__nav {
    position: relative;
    display: block;
    grid-column: 2 / -1;
    width: 100%;
    top: 0;
    left: 0;
  } */

  /* .page-header__list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 33px;
  } */

  /* .page-header__item {
    &::after {
      display: none;
    }
  } */

  /* .page-header__link {
    position: relative;
    display: block;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    padding: 25px 0;
    margin: 0;
    min-width: max-content;
  } */

  /* .page-header__link--active {
    &::after {
      content: "";
      position: absolute;
      bottom: 20px;
      left: 0;
      height: 2px;
      background: variables.$basic-light;
      width: 100%;
    }
  } */
}

// Desctop Viewport
@media (min-width: 1280px) {
  .page-header {
    position: absolute;
    left: 0;
    right: 0;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__nav {
    position: relative;
    display: flex;
    justify-content: end;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 10;
  }

  .page-header__list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 33px;
    max-width: 700px;
  }

  .page-header__link {
    position: relative;
    display: block;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 25px 15px;
    margin: 0;

    &:hover {
      opacity: 0.6;
    }
  }

  .page-header__link--special-active {
    color: #ffffff;

    &::after {
      content: "";
      position: absolute;
      bottom: 20px;
      left: 0;
      height: 2px;
      background: #ffffff;
      width: calc(100%);
    }
  }

  .page-header__link--special {
    color: #ffffff;
  }
}
