@use "./base/variables.scss";

.process__inner {
  padding: 19px 0 28px;
}

.process__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0 0 40px;
}

.process__list {
  list-style: none;
  padding-left: 80px;
  counter-reset: process-item 0;
}

.process__item {
  display: flex;
  position: relative;
  min-height: 60px;
  margin-bottom: 20px;
  align-items: center;

  &--leaf {
    &::after {
      position: absolute;
      content: "";
      right: calc(100% + 20px);
      top: 0;
      width: 60px;
      height: 60px;
      background-color: variables.$basic-light;
      background-size: 30px 30px;
      background-image: url("/img/icons/stack.svg#process_leaf");
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &--powder {
    &::after {
      position: absolute;
      content: "";
      right: calc(100% + 20px);
      top: 0;
      width: 60px;
      height: 60px;
      background-color: variables.$basic-light;
      background-size: 30px 30px;
      background-image: url("/img/icons/stack.svg#process_powder");
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &--eat {
    &::after {
      position: absolute;
      content: "";
      right: calc(100% + 20px);
      top: 0;
      width: 60px;
      height: 60px;
      background-color: variables.$basic-light;
      background-size: 30px 32px;
      background-image: url("/img/icons/stack.svg#process_eat");
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &--timer {
    &::after {
      position: absolute;
      content: "";
      right: calc(100% + 20px);
      top: 0;
      width: 60px;
      height: 60px;
      background-color: variables.$basic-light;
      background-size: 30px 32px;
      background-image: url("/img/icons/stack.svg#process_timer");
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

.process__description {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: variables.$gray-darken;
  padding: 0;
  margin: 0;
}

// Tablet Viewport
@media (min-width: 768px) {
  .process__inner {
    margin: 0;
    padding: 0 0 47px;
  }

  .process__title {
    font-size: 60px;
    line-height: 1;
    margin: 44px auto 32px 0;
  }

  .process__description {
    font-size: 16px;
    line-height: 1.5;
    padding-top: 150px;
    width: 75%;
  }

  .process__list {
    display: grid;
    padding: 0;
    margin: 0;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    column-gap: 60px;
    row-gap: 37px;
  }

  .process__item {
    display: block;
    min-width: fit-content;
    min-height: 280px;
    margin: 0;

    &::before {
      counter-increment: process-item;
      content: counter(process-item);
      position: absolute;
      line-height: 1;
      left: 110px;
      bottom: 0;
      font-size: 280px;
      font-family: "Oswald", "Arial", sans-serif;
      color: #f2f2f2;
      z-index: -1;
    }

    &--leaf::after {
      left: 0;
      top: 40px;
      width: 80px;
      height: 80px;
    }

    &--powder::after {
      left: 0;
      top: 40px;
      width: 80px;
      height: 80px;
    }

    &--eat::after {
      left: 0;
      top: 40px;
      width: 80px;
      height: 80px;
    }

    &--timer::after {
      left: 0;
      top: 40px;
      width: 80px;
      height: 80px;
    }
  }
}


// Desktop Viewport
@media (min-width: 1440px) {
  .process__inner {
    padding: 30px 0 0;
  }

  .process__title {
    font-size: 60px;
    margin-bottom: 32px;
  }

  .process__list {
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
  }

  .process__description {
    font-size: 16px;
    line-height: 1.5;
    padding-top: 148px;
    margin: 0;
    padding-bottom: 57px;
    width: 100%;
  }
}
