@use "./base/variables.scss";

.process {
  &__inner {
    padding: 20px 0;
  }

  &__title {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #000000;
    margin-bottom: 60px;
  }

  &__list {
    list-style: none;
    padding-left: 80px;
  }

  &__item {
    display: flex;
    position: relative;
    min-height: 60px;
    margin-bottom: 20px;
    //outline: blue 1px solid;
    align-items: center;

    &--leaf::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 20px;
      right: 60px;
      mask-image: url("../../img/icon-process-leaf.svg");
      mask-repeat: no-repeat;
      background-color: #ffffff;
    }

    &::before {
      position: absolute;
      content: "";
      right: calc(100% + 20px);
      top: 0;
      width: 60px;
      height: 60px;
      background-color: variables.$basic-light;
    }
  }

  &__description {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: variables.$gray-darken;
    padding: 0;
    margin: 0;
  }
}
