@use "./base/variables.scss";

.products__inner {
  padding: 20px 0 0;
}

.products__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.products__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: #000000;
  margin: 0 0 30px;
}

.products__item {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: -20px;
    width: 100vw;
    height: 1px;
    background-color: #ebebeb;
    top: 0;
  }
}

.products__button {
  grid-column: 1/-1;
  position: relative;
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.25;

  &--alt {
    color: #000000;
    background-color: variables.$gray-lighten;
    transform: translateY(9px);

    &:hover {
      background-color: variables.$gray-light;
    }
  }
}


// Tablet Viewport
@media (min-width: 768px) {
  .products__inner {
    padding: 36px 0 0;
  }

  .products__title {
    font-size: 60px;
    margin-bottom: 90px;
  }

  .products__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
    column-gap: 60px;
    row-gap: 82px;
  }

  .products__item {
    align-items: center;

    &::after {
      display: none;
    }
  }

  .products__button {
    margin-top: 30px;

    &--alt {
      transform: translateY(20px);
    }
  }
}

// Desktop Viewport
@media (min-width: 1440px) {
  .products__inner {
    padding-top: 44px;
  }

  .products__title {
    margin-bottom: 70px;
  }

  .products__list {
    display: grid;
    grid-template-columns: repeat(4, 245px);
    grid-template-rows: auto;
    justify-content: space-between;
    row-gap: 66px;
  }

  .products__item {
    padding: 100px 10px;
  }

  .products__button {
    margin-top: 24px;

    &--alt {
      transform: translateY(26px);
    }
  }
}
