@use "./base/variables.scss";

.product-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 0 25px 0;
  row-gap: 13px;
}

.product-card__link-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  grid-row: 1 / 2;
}

.product-card__inner {
  display: grid;
  grid-template-columns: 60% 40%;
  row-gap: 18px;
}

.product-card__details {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
}

// Taablet Viewport
@media (min-width: 768px) {
  .product-card__image {
    width: 200px;
    height: 210px;
  }
}

// Desctop Viewport
@media (min-width: 1220px) {
  .product-card__image {
    width: 169px;
    height: 210px;
  }
}
