@use "./base/variables.scss";

.products__inner {
  padding: 20px 0 0;
}

.products__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.products__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: #000000;
  margin: 0 0 30px;
  //padding-bottom: 30px;
}

.products__item {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: -20px;
    width: 100vw;
    height: 1px;
    background-color: #ebebeb;
    top: 0;
  }
}

.products__button {
  grid-column: 1/-1;
  position: relative;
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.25;
}


// Tablet Viewport
@media (min-width: 768px) {
  .products__inner {
    padding: 36px 0 0;
  }

  .products__title {
    font-size: 60px;
    margin-bottom: 90px;
  }

  .products__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
    column-gap: 60px;
    row-gap: 82px;
  }

  .products__item {
    align-items: center;

    &::after {
      display: none;
    }
  }

  .products__button {
    margin-top: 30px;
  }
}

// Desctop Viewport
@media (min-width: 1280px) {
  /*.products__inner {
    padding-top: 188px;
  } */

  .products__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
  }
}
