@use "./base/variables.scss";

.products-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0 32px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: -20px;
    width: 100vw;
    height: 1px;
    background-color: #ebebeb;
    top: 100%;
  }
}

.products-more__button-plus {
  display: block;
  font-size: 0;
  border: none;
  background-color: transparent;
  background-image: url("../img/sprites.svg#button-plus-mobile");
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  margin-bottom: 23px;
}

.products-more__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #111111;
  margin: 0 0 10px;
  text-align: center;
}

.products-more__subtitle {
  font-size: 12px;
  font-family: "Lato", "Arial", sans-serif;
  color: #111111;
  margin: 0 0 10px;
}

.products-more__button {
  background-color: #f2f2f2;
  color: #444444;
  min-height: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}

// Tablet Viewport
@media (min-width: 768px) {
  .products-more {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    padding: 52px 37px 37px;
    outline: 2px solid #f2f2f2;
    margin-top: 62px;

    &::before {
      display: none;
    }
  }

  .products-more__button-plus {
    background-image: url("../img/sprites.svg#button-plus-tablet");
    width: 60px;
    height: 60px;
    align-self: center;
    margin-top: -10px;
    position: relative;
    justify-self: center;
  }

  .products-more__title {
    font-size: 20px;
    line-height: 22px;
    margin-top: 18px;
    justify-self: center;
  }

  .products-more__subtitle {
    font-size: 16px;
    line-height: 1.12;
    text-align: center;
    width: 70%;
    padding-bottom: 30px;
    justify-self: center;
    margin: 0;
  }
}

// Tablet Viewport
@media (min-width: 1440px) {
  .products-more__button-plus {
    margin: 0;
    align-self: end;
  }

  .products-more {
    margin-top: 80px;
    align-items: start;
    padding: 0 37px;
  }

  .products-more__title {
    margin-top: 44px;
  }

  .products-more__subtitle {
    padding: 0;
    margin: 10px 0 0;
    width: 100%;
  }
}
