@use "./base/variables.scss";

.product-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content;
  padding: 20px 0 23px 0;
  row-gap: 9px;
}

.product-card__image {
  width: 140px;
  height: 107px;
  //border: 1px red solid;
  object-fit: none;
  font-size: 0;
}

.product-card__link-image {
  position: relative;
  font-size: 0;
  //top: 10px;
}

.product-card__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.33;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  grid-row: 1 / 2;
}

.product-card__inner {
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
  row-gap: 10px;
}

.product-card__details {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
}

// Tablet Viewport
@media (min-width: 768px) {
  .product-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    align-items: center;
    justify-items: center;
    row-gap: 4px;
    //flex-direction: column;
    padding: 10px 36px 38px;
    background-image: linear-gradient(transparent 58px, #f2f2f2 58px);
  }

  .product-card__title {
    text-align: center;
    grid-column: 1 / -1;
    font-size: 20px;
    line-height: 1.2;
    width: 160px;
    margin: 0 auto;
  }

  .product-card__image {
    width: 200px;
    height: 210px;
    //border: 1px red solid;
    object-fit: none;
  }

  .product-card__link-image {
    position: relative;
    top: -22px;
    font-size: 0;
    //width: 100%;
    //align-self: center;
  }

  .product-card__inner {
    display: grid;
    width: 100%;
    grid-template-columns: 60% 40%;
    row-gap: 12px;
  }
}

// Desctop Viewport
@media (min-width: 1220px) {
  .product-card__image {
    width: 172px;
    height: 196px;
  }
}
