@use "./base/variables.scss";

.profile {
  position: relative;
}

.profile__info-wrapper {
  padding-bottom: 35px;
}


.profile__inner {
  position: relative;
  font-size: 0;
  padding-bottom: 0;
}

.profile__info {
  position: relative;
  border: none;
  padding: 0 0 25px;

  &::after {
    position: absolute;
    content: "";
    background-color: #e7e7e7;
    height: 1px;
    right: -20px;
    left: -20px;
    transform: translateY(25px);
  }
}

.profile__target {
  position: relative;
  border: none;
  padding: 25px 0 0;

  &::after {
    position: absolute;
    content: "";
    background-color: #e7e7e7;
    height: 1px;
    right: -20px;
    left: -20px;
    transform: translateY(5px);
  }
}

.profile__сontaсt {
  border: none;
  padding: 0;

  &::before {
    position: absolute;
    content: "";
    background-color: variables.$basic-dark;
    height: 2px;
    right: 0;
    left: 25px;
    transform: translateY(14px);
  }
}

.profile__comment {
  border: none;
  padding: 0 0 25px;

  &::before {
    position: absolute;
    content: "";
    background-color: variables.$basic-dark;
    height: 2px;
    right: 0;
    left: 25px;
    transform: translateY(14px);
  }
}

.profile__message {
  margin: 0;
  //border: 1px solid #e7e7e7;
  height: 150px;
  width: 100%;
  padding: 10px 12px 15px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: variables.$gray-darken;
}

.profile__extra {
  border: none;
  padding: 0;

  &::before {
    position: absolute;
    content: "";
    background-color: variables.$basic-dark;
    height: 2px;
    right: 0;
    left: 25px;
    transform: translateY(14px);
  }
}

.profile__submit {
  border: none;
  padding: 0;
}

.profile__info-block {
  display: grid;
  gap: 14px;
}

.profile__label {
  position: relative;
  display: grid;
  grid-template-columns: max-content auto;
  gap: 13px;
  align-items: center;
}

.profile__lead {
  font-size: 16px;
  line-height: 1.12;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: #444444;
}

.profile__input {
  position: relative;
  border: none;
  outline: 1px solid #e7e7e7;
  margin: 0;
  padding: 10px 40px 10px 15px;
  width: 100%;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: variables.$gray-darken;

  &:hover {
    outline: 1px solid #cdcdcd;
  }

  &:focus {
    outline: 2px solid #000000;
  }

  &:focus + .profile__icon-email {
    background-color: variables.$basic-light;
  }

  &:focus + .profile__icon-phone {
    background-color: variables.$basic-light;
  }
}

.profile__icon-email {
  position: absolute;
  content: "";
  left: calc(100% - 30px);
  width: 20px;
  height: 20px;
  background-color: #000000;
  mask-image: url("../img/sprites.svg#email");
}

.profile__icon-phone {
  position: absolute;
  content: "";
  left: calc(100% - 30px);
  width: 20px;
  height: 20px;
  background-color: #000000;
  mask-image: url("../img/sprites.svg#phone");
}

.profile__list {
  display: grid;
  gap: 13px;
  list-style: none;
  padding: 0 0 10px;
  margin: 0;
}

.profile__list-contact {
  display: grid;
  gap: 13px;
  list-style: none;
  padding: 0 0 25px;
  margin: 0;
}

.profile__list-extra {
  display: grid;
  gap: 12px;
  list-style: none;
  padding: 0 0 32px;
  margin: 0;
}

.profile__control-mark {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #cdcdcd;

  &:hover {
    border: 1px solid #bababa;
  }
}

.profile__radio-input:checked + .profile__control-mark::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 13px;
  height: 13px;
  background-color: #68b738;
  border-radius: 50%;
  content: "";
}

.profile__radio-input:focus + .profile__control-mark {
  border: 2px solid #111111;
}

.profile__title {
  width: min-content;
  font-size: 24px;
  line-height: 1.08;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  padding: 0 20px 36px 0;
  background-color: #ffffff;
  margin: 0;
}

.profile__note {
  font-family: "Lato", "Arial", sans-serif;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  margin: 22px 0 32px;
}

.profile__checkbox-modified {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;

  &:hover {
    border: 2px solid #bababa;
  }
}

.profile__checkbox-input:focus + .profile__checkbox-modified {
  border: 2px solid #111111;
}

.profile__checkbox-input:checked + .profile__checkbox-modified::after {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  background-color: variables.$basic-dark;
  mask-image: url("../img/sprites.svg#tick");
}

.profile__button {
  line-height: 1.25;
  margin: 0;
  padding: 10px 15px;
}

// Tablet Viewport
@media (min-width: 768px) {
  .profile__inner {
    padding: 0 40px;
  }

  .profile__info {
    &::after {
      display: none;
    }
  }

  .profile__target {
    &::after {
      display: none;
    }
  }

  .profile__list--border {
    border: #e7e7e7 1px solid;
    padding: 23px 27px;
  }

  .profile__сontaсt {
    border: none;
    padding: 0;

    &::before {
      left: 0;
      transform: translateY(50px);
    }
  }

  .profile__title {
    padding-left: 40px;
    margin-left: -40px;
    width: max-content;
  }

  .profile__comment {
    border: none;
    padding: 0;

    &::before {
      left: 0;
      transform: translateY(49px);
    }
  }

  .profile__extra {
    border: none;
    padding: 0;

    &::before {
      left: 0;
      transform: translateY(50px);
    }
  }

  .profile__list-extra {
    grid-template-columns: 1fr 1fr;
  }

  .profile__submit-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px 40px 35px 40px;
  }
}

// Desktop Viewport
@media (min-width: 1280px) {
  .profile__inner {
    padding: 0;
    margin: 0;
  }

  .profile__info {
    border: none;
    padding: 0;
  }

  .profile__info-wrapper {
    position: relative;
    display: grid;
    gap: 80px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 35px;
  }

  .profile__target {
    padding: 25px 28px;
    outline: 1px solid #e7e7e7;
  }

  .profile__list--border {
    border: none;
    margin: 0;
    padding: 0;
  }

  .profile__list-contact {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }

  .profile__list-extra {
    grid-template-columns: repeat(4, 1fr);
  }

  .profile__submit-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px 0 35px;
    gap: 80px;
  }

  .profile__note {
    text-align: left;
    font-size: 16px;
    line-height: 16px;
  }
}
