@use "./base/variables.scss";

.profile {
  &__info-input-block {
    border: none;
    padding: 0;
  }

  &__target-radio-block {
    border: none;
    padding: 0;
    margin-top: 25px;
  }

  &__сontaсt-input-block {
    border: none;
    padding: 0;
  }

  &__comment-area-block {
    border: none;
    padding: 0;
  }

  &__extra-checkbox-block {
    border: none;
    padding: 0;
  }

  &__button {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    background-color: variables.$basic-light;
    text-transform: uppercase;
    border: none;
  }

  &__label {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: variables.$gray-darken;
    margin: 34px 0 0;
  }

  &__line-label {
    display: block;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
    margin: 24px 0 0;
  }

  &__message {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: variables.$gray-darken;
    border: 1px solid #e7e7e7;
    height: 150px;
    margin-top: 38px;
  }

  &__input {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: variables.$gray-darken;
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__title {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
    margin: 20px 0 20px;
  }

  &__item {
    margin: 13px 0 0;
  }

  &__note {
    font-family: "Lato", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
  }
}
