@use "./base/variables.scss";

.profile {
  position: relative;
}

.profile__info {
  border: none;
  padding: 0 0 20px;
}

.profile__target {
  border: none;
  padding: 0 0 20px;
}

.profile__сontaсt {
  border: none;
  padding: 0 0 20px;
}

.profile__info-block {
  display: grid;
  gap: 13px;
}

.profile__label {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 13px;
  align-items: center;
}

.profile__lead {
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: #444444;
}

.profile__input {
  border: none;
  outline: 1px solid #e7e7e7;
  margin: 0;
  padding: 13px 0 13px 15px;
  width: 100%;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: variables.$gray-darken;
}

.profile__list {
  display: grid;
  gap: 13px;
  list-style: none;
  padding: 0 0 25px;
  margin: 0;
}

.profile__control-mark {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #cdcdcd;
}

.profile__radio-input:checked + .profile__control-mark::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 13px;
  height: 13px;
  background-color: #68b738;
  border-radius: 50%;
  content: "";
}
