@use "./base/variables.scss";

.profile {
  position: relative;
}

.profile__info-wrapper {
  padding-bottom: 35px;
}

.profile__inner {
  position: relative;
  font-size: 0;
  padding-bottom: 0;
}

.profile__info {
  position: relative;
  border: none;
  margin: 0;
  padding: 0 0 25px;

  &::after {
    position: absolute;
    content: "";
    background-color: #e7e7e7;
    height: 1px;
    right: -20px;
    left: -20px;
    transform: translateY(25px);
  }
}

.profile__target {
  position: relative;
  border: none;
  margin: 0;
  padding: 25px 0 0;

  &::after {
    position: absolute;
    content: "";
    background-color: #e7e7e7;
    height: 1px;
    right: -20px;
    left: -20px;
    transform: translateY(5px);
  }
}

.profile__сontaсt {
  border: none;
  margin: 0;
  padding: 0;

  &::before {
    position: absolute;
    content: "";
    background-color: variables.$basic-dark;
    height: 2px;
    right: 0;
    left: 25px;
    transform: translateY(14px);
  }
}

.profile__comment {
  border: none;
  margin: 0;
  padding: 0 0 25px;

  &::before {
    position: absolute;
    content: "";
    background-color: variables.$basic-dark;
    height: 2px;
    right: 0;
    left: 25px;
    transform: translateY(14px);
  }
}

.profile__message {
  margin: 0;
  height: 150px;
  width: 100%;
  padding: 11px 14px 11px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: #444444;
  border-color: #e7e7e7;
}

.profile__extra {
  border: none;
  margin: 0;
  padding: 0;

  &::before {
    position: absolute;
    content: "";
    background-color: variables.$basic-dark;
    height: 2px;
    right: 0;
    left: 25px;
    transform: translateY(14px);
  }
}

.profile__submit {
  border: none;
  padding: 0;
  margin: 0;
}

.profile__info-block {
  display: grid;
  gap: 14px;
}

.profile__label {
  position: relative;
  display: grid;
  grid-template-columns: max-content auto;
  gap: 13px;
  align-items: center;
}

.profile__lead {
  font-size: 16px;
  line-height: 1.12;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: #444444;
}

.profile__input {
  position: relative;
  border: none;
  outline: 1px solid #e7e7e7;
  margin: 0;
  padding: 10px 40px 10px 15px;
  width: 100%;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: variables.$gray-darken;

  &--error {
    outline: 1px solid #ff8282;
  }

  &--error + .profile__icon-email {
    background-color: #ff8282;
  }

  &--error + .profile__icon-phone {
    background-color: #ff8282;
  }

  &:hover {
    outline: 1px solid #cdcdcd;
  }

  &:focus {
    outline: 2px solid #000000;
  }

  &:focus + .profile__icon-email {
    background-color: variables.$basic-light;
  }

  &:focus + .profile__icon-phone {
    background-color: variables.$basic-light;
  }
}

.profile__icon-email {
  position: absolute;
  content: "";
  left: calc(100% - 30px);
  width: 20px;
  height: 20px;
  background-color: #000000;
  mask-image: url("../img/icons/stack.svg#profile_email-icon");
}

.profile__icon-phone {
  position: absolute;
  content: "";
  left: calc(100% - 30px);
  width: 20px;
  height: 20px;
  background-color: #000000;
  mask-image: url("../img/icons/stack.svg#profile_phone-icon");
}

.profile__list {
  display: grid;
  gap: 13px;
  list-style: none;
  padding: 0 0 10px;
  margin: 0;
}

.profile__list-contact {
  display: grid;
  gap: 13px;
  list-style: none;
  padding: 0 0 25px;
  margin: 0;
}

.profile__list-extra {
  display: grid;
  gap: 13px;
  list-style: none;
  padding: 0 0 32px;
  margin-top: -4px;
}

.profile__control-mark {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #cdcdcd;

  &:hover {
    border: 1px solid #bababa;
  }
}

.profile__radio-input:checked + .profile__control-mark::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 13px;
  height: 13px;
  background-color: #68b738;
  border-radius: 50%;
  content: "";
}

.profile__radio-input:focus + .profile__control-mark {
  border: 2px solid #bababa;
}

.profile__radio-input:disabled + .profile__control-mark {
  opacity: 0.3;
}

.profile__radio-input:disabled + .profile__control-mark::after {
  opacity: 0.3;
}

.profile__radio-input:disabled ~ .profile__lead {
  opacity: 0.3;
}


.profile__title {
  width: min-content;
  font-size: 24px;
  line-height: 1.08;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  padding: 0 20px 36px 0;
  background-color: #ffffff;
  margin: 0;
}

.profile__note {
  font-family: "Lato", "Arial", sans-serif;
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  margin: 22px 0 32px;
}

.profile__checkbox-modified {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  margin-right: 2px;
}


.profile__checkbox-input:disabled + .profile__checkbox-modified {
  pointer-events: none;
}

.profile__checkbox-input:hover:enabled + .profile__checkbox-modified {
  border: 2px solid #bababa;
}

.profile__checkbox-input:focus + .profile__checkbox-modified {
  border: 2px solid #bababa;
}

.profile__checkbox-input:checked + .profile__checkbox-modified::after {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  background-color: variables.$basic-dark;
  mask-image: url("../img/icons/stack.svg#profile_checkbox-tick");
}

.profile__checkbox-input:disabled + .profile__checkbox-modified::after {
  opacity: 0.3;
}

.profile__checkbox-input:disabled ~ .profile__lead {
  opacity: 0.3;
}

.profile__button {
  line-height: 1.25;
  margin: 0;
  padding: 10px 15px;
}

// Tablet Viewport
@media (min-width: 768px) {
  .profile__inner {
    padding: 0 40px;
  }

  .profile__lead {
    font-size: 20px;
    line-height: 1;
  }

  .profile__input {
    font-size: 20px;
    line-height: 1;
    padding: 10px 40px 10px 18px;
  }

  .profile__info {
    padding: 0 0 46px;

    &::after {
      display: none;
    }
  }

  .profile__info-wrapper {
    padding-bottom: 68px;
  }

  .profile__info-block {
    gap: 23px;
  }

  .profile__target {
    &::after {
      display: none;
    }
  }

  .profile__control-mark {
    width: 40px;
    height: 40px;
    margin-right: 5px;
  }

  .profile__radio-input:checked + .profile__control-mark::after {
    width: 18px;
    height: 18px;
  }

  .profile__label {
    gap: 15px;
  }

  .profile__list--border {
    border: #e7e7e7 1px solid;
    padding: 23px 25px;
  }

  .profile__list-contact {
    gap: 22px;
    padding: 0 0 68px;
  }

  .profile__сontaсt {
    border: none;
    padding: 0;

    &::before {
      left: 0;
      transform: translateY(22px);
    }
  }

  .profile__title {
    display: inline-block;
    width: inherit;
    font-size: 36px;
    line-height: 1;
    margin-left: -41px;
    padding: 0 40px 76px 40px;
  }

  .profile__comment {
    border: none;
    padding: 0 0 65px;

    &::before {
      left: 0;
      transform: translateY(21px);
    }
  }

  .profile__extra {
    border: none;
    padding: 0;

    &::before {
      left: 0;
      transform: translateY(22px);
    }
  }

  .profile__list-extra {
    grid-template-columns: 1fr 1fr;
    margin-top: -18px;
    row-gap: 31px;
    column-gap: 60px;
  }

  .profile__submit-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    padding: 20px 40px;
  }

  .profile__message {
    margin-top: 10px;
    font-size: 20px;
    line-height: 1.5;
    padding: 10px 20px;
    height: 175px;
  }

  .profile__checkbox-modified {
    width: 40px;
    height: 40px;
    margin-right: 5px;
  }

  .profile__button {
    font-size: 20px;
    line-height: 1.3;
    padding: 14px 10px;
  }

  .profile__note {
    margin: 0;
    margin-left: 5px;
    font-size: 16px;
    line-height: 1;
    align-self: center;
    text-align: left;
  }

  .profile__icon-email {
    content: "";
    left: calc(100% - 35px);
  }

  .profile__icon-phone {
    left: calc(100% - 35px);
  }

  .profile__submit {
    padding: 0 0 38px;
  }
}

// Desktop Viewport
@media (min-width: 1280px) {
  .profile__inner {
    padding: 0;
    margin: 0;
  }

  .profile__info {
    border: none;
    padding: 0;
  }

  .profile__info-wrapper {
    position: relative;
    display: grid;
    gap: 80px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2px;
  }

  .profile__target {
    padding: 25px 28px;
    outline: 1px solid #e7e7e7;
  }

  .profile__list--border {
    border: none;
    margin: 0;
    padding: 0;
  }

  .profile__list-contact {
    grid-template-columns: 1fr 1fr;
    gap: 78px;
    padding: 0 0 73px;
  }

  .profile__comment {
    padding: 0 0 72px;
  }

  .profile__message {
    margin-top: 0;
  }

  .profile__list-extra {
    grid-template-columns: repeat(4, 1fr);
    gap: 84px;
    margin-top: -20px;
    padding: 0 0 45px;
  }

  .profile__submit-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px 0 35px;
    gap: 80px;
  }

  .profile__note {
    text-align: left;
    font-size: 16px;
    line-height: 1;
  }

  .profile__submit {
    padding: 0 0 45px;
  }
}
