@use "./base/variables.scss";

.promo {
  position: relative;
  background-image: url("../../img/promo-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top;

  &::after {
    position: absolute;
    content: "";
    background-color: variables.$basic-dark;
    top: 0;
    width: 100%;
    height: 302px;
    z-index: -1;
  }

  &__title {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #ffffff;
    margin: 27px 0;
  }

  &__text {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    margin: 25px 0;
  }

  &__button {
    display: block;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
