@use "./base/variables.scss";

.special-offer {
  display: block;
  margin: 36px auto;
  position: relative;
  background-color: #7fc256;
  background-image: url("../../img/catalog/gift-mobile-bg@1x.png");
  background-size: cover;
  width: 100%;
  min-height: 290px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px 10px;
  //overflow: hidden;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/catalog/gift-mobile-bg@2x.png");
  }
}

.special-offer__text {
  position: relative;
  margin: 0 auto;
  width: 180px;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
  text-align: center;
  transform: translateY(104px);
  //overflow: hidden;
}

.special-offer__img {
  display: block;
  color: #ffffff;
  position: relative;
  margin: 0 auto;
  transform: translateY(57px);
}


// Tablet Viewport
@media (min-width: 768px) {
  .special-offer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 70px auto 72px;
    min-height: 200px;
    background-image: url("../../img/catalog/gift-tablet-bg@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/catalog/gift-tablet-bg@2x.png");
    }
  }

  .special-offer__img {
    transform: translateX(-35px);
  }

  .special-offer__text {
    text-align: left;
    transform: translateX(6px);
  }
}

// Desktop Viewport
@media (min-width: 1280px) {
  .special-offer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    margin: 0;
    position: relative;
    background-image: url("../../img/catalog/gift-desktop-bg@1x.png");
    width: 245px;
    min-height: 288px;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/catalog/gift-desktop-bg@2x.png");
    }
  }

  .special-offer__text {
    text-align: center;
    transform: translateX(0);
    width: 70%;
    margin-top: 16px;
  }

  .special-offer__img {
    transform: translate(0, 10px);
  }
}
